* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: white;
}

header {
    font: 125% "Lucida Console", Monaco, monospace;
    text-align: left;
    background-color: #304983;
    color: #f1f2f2;
}

header h1 {
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 2%;
}

header p {
    font-size: 15px;
    padding-left: 3%;
    padding-bottom: 1.5%;
}

#bodyWrap {
    width: 80vw;
    margin: 0 auto;
    background-color: #c0d6ef;
}

#navMainWrapper {
    display: flex;
    width: 100%;
}

nav {
    margin-bottom: auto;
    margin-top: 2%;
    margin-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    text-align: center;
    background-color: #f1f2f2;
    width: 20%;
}

nav ul {
    list-style: none;
    padding-left: 2vw
}

nav ul li {
}

nav ul li a {
    text-decoration: none;
    border: black solid 1px;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #304983;
    color: #e5effd;
    font: 1.2vw "Lucida Console", Monaco, monospace;
    display: block;
    margin-bottom: 10%;
}

main {
    height: 100vh;
    width: 70%;
    margin: auto;
}

#insideH1 {
    display: flex;
}

#home-h1 {
    padding-left: 35%;
    padding-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    font: bold 300% "Lucida Handwriting", sans-serif;
}

#mainPara {
    background-color: #e5effd;
    margin-right: 2%;
    margin-left: 2%;
    border: 1px solid #e5effd;
    padding: 5% 3% 5% 5%;
    font: 2vh "Lucida Console", Monaco, monospace;
    text-align: center;
}


img {
    width: 20vw;
    height: 40vh;

    max-height: 100%;
}

footer {
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 750px) {
    #navMainWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    nav {
        width: 100%;
        background-color: transparent;
    }

    nav ul{
        margin-right: 3vw;
        display: flex;
        justify-content: center;
    }

    nav li{
        font-size: 1.2vw;
        padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    }

    nav ul li a {
        padding: 1vh 1vw 1vh 1vw;
        margin: auto;
        font-size: 2vw;
    }

    #home-h1 {
        padding-left: 0;
    }

    #insideH1 {
        flex-direction: column;
        align-items: center;

    }

    #insideH1 img {
        width: 50vw;
        height: auto;
        max-width: 30vw;
        max-height: 100%;
    }

    #mainPara {
        margin-top: 5%;
        width: 100%;
        font-size: 2vh;
    }

    header {
        text-align: center;
    }

}

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
        margin: auto;
    }

    nav {
        width: 30%;
    }

    nav ul li a {
        font-size: 1.5vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    nav ul {
        padding-left: 2vw;
    }

    nav li{
        font-size: 0.8vw;
    }

    img {
        margin-left: 2%;
    }


}